<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="google-site-verification" content="hp82KVZ4uQ7vy5KYhVz3WtWco3SzW581iNnqUDrbQig" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="Description" content="Moodle Enrolment Plugin Using Paymob Payment Gateway, Includes online and Pay At Paymob Mehtod, Accept Payment Gateway, Moodle, Accept Moodle, supports > Moodle 3.5, Moodle Enrolment Plugin Using Paymob Payment Gateway Include wallet and kiosk payment ">
   <meta name="keywords" content="moodle, moodle-paymob, paymob, paymob enrol, paymob moodle, enrol plugin,coupon"/>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">Moodle Enrolment ( Paymob) </h1>
        <p class="header">Enrolment after pay through Paymob (Accept)</p>

        <p>Contact at <a href="mailto:httplab2020@gmail.com"> httplab2020@gmail.com </a></p>
        


      
      </header>

      <section>
        Moodle Enrolment Plugin after payemnt through  Paymob Payment gateway.

      {{content}}
      </section>

      <footer>

      </footer>
    </div>
    <div style="clear:both;text-align: center;">
   <img src={{ '/assets/images/1.png'  | relative_url }}  alt="paymob"/> <br/>
    <img src={{ '/assets/images/2.png'  | relative_url }}  alt="paymob"/><br/>
        <img src={{ '/assets/images/3.png'  | relative_url }}  alt="paymob"/><br/>
        <img src={{ '/assets/images/4.png'  | relative_url }}  alt="paymob"/><br/>
        <img src={{ '/assets/images/5.png'  | relative_url }}  alt="paymob"/><br/>
        <img src={{ '/assets/images/6.png'  | relative_url }}  alt="paymob"/><br/>
        
        <embed src="{{ '/assets/images/PAYMOB.pdf'  | relative_url }} " width="650px" height="450px"
 type="application/pdf">
      
       <p style="font-size:24px">Contact at <a href="mailto:httplab2020@gmail.com"> httplab2020@gmail.com </a></p>
    </div>
  </body>
</html>
