<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="google-site-verification" content="hp82KVZ4uQ7vy5KYhVz3WtWco3SzW581iNnqUDrbQig" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="Description" content="Moodle Enrolment Plugin Using Paymob Payment Gateway, Includes online and Pay At Paymob Mehtod, Accept Payment Gateway, Moodle, Accept Moodle, supports > Moodle 3.5, Moodle Enrolment Plugin Using Paymob Payment Gateway Include wallet and kiosk payment ">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">Moodle Enrolment ( Paymob) </h1>
        <p class="header">Enrolment after pay through Paymob (Accept)</p>

      <p>Contact at  httplab2020@gmail.com </p>
        


      
      </header>

      <section>
        Moodle Enrolment Plugin after payemnt through  Paymob Payment gateway.

      {{content}}
      </section>

      <footer>
<img src={{ '/assets/images/1.png' }}  alt="paymob"/>
<img src={{ '/assets/images/2.png' }}  alt="paymob"/>
        <img src={{ '/assets/images/3.png' }}  alt="paymob"/>
        <img src={{ '/assets/images/4.png' }}  alt="paymob"/>
        <img src={{ '/assets/images/5.png' }}  alt="paymob"/>
        <img src={{ '/assets/images/6.png' }}  alt="paymob"/>
        
        <embed src="{{ '/assets/images/paymob.pdf' }} "
 type="application/pdf">
      </footer>
    </div>
   
  </body>
</html>
